$blue:#4a90e2;

body {
    margin: 0;
    padding: 0;
    .header {
        background-color: $blue;
        width: 100%;
        height: 15%;
    }
}

.header ul {
    display: flex;
}
.header ul li {
    padding: 15px 50px;
    list-style: none;
}
.box-body-text {
    background-color: aquas;
}
.box {
    background-color: #fff2dc;
}
.box-body {
    background-color: #c8c8c8;
}
.card {
    margin-top: 2%;
    background-color: #fff2dc;
}